<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Silant</title>
</head>
<body>
<h3>Домашняя страница Backend дипломного проекта</h3>
<p>Django server</p>
<p>superuser: login = admin   password = admin</p>
<p>login = manager1 password = manager12345 group: Silant</p>
<p>login = promtechnika password = service12345 group: Service Companies</p>
<p>login = trudnikovip password = client12345 group: Client</p>


<p>Вход администратора открывается по ссылке:</p>
<a href="http://127.0.0.1:8000/admin/">Admin</a>
<p>Swagger открывается по ссылке:</p>
<a href="http://127.0.0.1:8000/swagger-ui/">Swagger</a>
</body>
</html>